{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{{ page_title }} | {% trans 'Task Manager' %}{% endblock %}

{% block content %}

<h1 class="my-4">{% trans 'Delete' %}</h1>

    <form method="post">
        <p>{% trans 'Are you sure that you want to delete ' %} {{ user.first_name }} {{user.last_name}} ?</p>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% trans 'Yes, delete' as del_btn %}
        {% bootstrap_button del_btn button_type="submit" button_class="btn btn-outline-danger" %}
    </form>
{% endblock %}