{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="{% url 'home' %}">{% trans "Task manager" %}</a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users-detail' %}">{% trans "Users" %}</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'statuses-detail' %}">{% trans "Statuses" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'labels_detail' %}">{% trans "Labels" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks' %}">{% trans "Tasks" %}</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}

                <form method="post" action="{% url 'logout' %}" style="margin-block-end: 0;">
                    {% csrf_token %}
                    <li class="nav-item">
                        <input class="btn nav-link" type="submit" value="{% trans 'Log Out' %}" style="--bs-btn-padding-x: 0.75rem;">
                    </li>
                </form>
            {% else %}
            
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">{% trans "Log In" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users-create' %}">{% trans "Sign Up" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>